body{
    background: #121019;
    color: white;
    font-family:'Brush Script MT', cursive;
}


.navigation-bar{
    display: flex;
    gap:750px;
    position: fixed;
    margin-bottom: 5rem;
}


.logo > a > img{
    margin-top: -110px;
    width: 170px;
    height: 250px;
}

.nav-buttons > ul{
    display: flex;
    gap:30px;
    list-style-type: none;
   
}

.nav-buttons > ul > li > a{
    text-decoration: none;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.nav-buttons > ul > li > a:hover{
    color: tan;
}
/* End of navigation bar */


.side-line-intro{
    border-left: 2px solid blue;
    height: 600px;
    margin-left: 200px;
}

.intro-section{
   padding-top: 150px;
    display: flex;
    gap:2rem;   
}
/* End of Intro section */

.side-line-work{
    border-left: 2px solid blue;
    height: 1000px;
    margin-left: 200px;
}

.works-section{
    background:#191425;
    display:flex;
    gap:2rem;
}

.work-pics1{
    margin-left: -100px;
    display: flex;
    gap:15rem;
   
}

.work-pics1 > fig > img{
    margin-top: 50px;
    width: 450px;
    height: auto;
    
}

.text{
    background: grey;
}

.work-pics1 > fig > img:hover{
    border: 2px solid blueviolet;
    opacity: 1.5;
    cursor: pointer;
    
}

.figcap1{
    position: absolute;
    bottom: -26rem;
    left:420px;
    color: white;
}

.work-pics2{
    display: flex;
    gap:15rem;
}

.work-pics2 > fig > img{
    margin-top: 50px;
    width: 450px;
    height: auto;
}
/* end of work section */

.side-line-lab{
    border-left: 2px solid blue;
    height: 700px;
    margin-left: 200px;
}

.lab-section{
    display:flex;
    gap:2rem;
    background: #0E0D17;
}

.projects-section1{
    display: flex;
    gap:35rem;
}

.projects-section1 > article > a{
    text-decoration: none;
    color:white;
}

.projects-section1 > article > a:hover{
    color: tan;
}

.projects-section2{
    display: flex;
    gap:42rem;
}

.projects-section2 > article > a{
    text-decoration: none;
    color:white;
}

.projects-section2 > article > a:hover{
    color: tan;
}
/* End of project section */

.about-section{
    background: #15131C; 
    display: flex;
    gap:2rem;   
    font-family: 'Monaco', monospace;
}


.side-line-about{
    border-left: 2px solid blue;
    height: 700px;
    margin-left: 200px;
}
/* End of about section */

.class, .constructor, .return { color: blue; }
  .yellow { color: yellow; }
  .light-green { color: lightgreen; }
  .red { color: red; }
  .cyan { color: cyan; }
  .grey { color: grey; }
  .orange { color: orange; }

/* some colors */

.contact-section{
    background: #0F0C10; 
    display: flex;
    gap:2rem;   
    font-family: 'Monaco', monospace;
}
/* End of Intro section */

.side-line-contact{
    border-left: 2px solid blue;
    height: 550px;
    margin-left: 200px;
}

.contacts > footer{
   display: flex;
   gap: 1rem;
   margin-top: 3rem;
}

.contacts > footer > a{
    color: cyan;
}


.button{
outline: 0;
grid-gap: 8px;
align-items: center;
background: orange;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 16px;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap;
margin-top: 10rem;

}
.button:hover {
    box-shadow: 4px 4px 0 blue;
    transform: translate(-4px,-4px);
}
.button:focus-visible{ 
    outline-offset: 1px;
}

.copyright > p{
    margin-top:10rem;
}

/* End of Contact section */